#nav {

    background: url("img/gradient.png") repeat-x scroll 0 -110px #7D7D7D;
    border-radius: 2em 2em 2em 2em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);  
    line-height: 100%;	
    margin: 0;
    padding: 7px 6px 0;
}
#nav li {
    float: left;
    list-style: none outside none;
    margin: 0 5px;
    padding: 0 0 8px;
    position: relative;
}
#nav a {
    border-radius: 1.6em 1.6em 1.6em 1.6em;
    color: #E7E5E5;
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 8px 20px;	
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
#nav a:hover {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
}
#nav .current a, #nav li:hover > a {
    background: url("img/gradient.png") repeat-x scroll 0 -40px #666666;
    border-top: 1px solid #F8F8F8;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #F5F5F5;
    text-shadow: 0 1px 0 #FFFFFF;
}
#nav ul li:hover a, #nav li:hover li a {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: none;
    color: #FFFFF0;
}
#nav ul a:hover {
    background: url("img/gradient.png") repeat-x scroll 0 -100px #0078FF !important;
    border-radius: 0 0 0 0;
    color: #FFFFFF !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#nav li:hover > ul {
    display: block;
}
#nav ul {
   
	background: url("img/gradient.png") repeat-x scroll 0 -110px #7D7D7D;
    border: 2px solid #B4B4B4;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);		
    display: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 35px;
    width: 185px;
}
#nav ul li {
background: url("img/gradient.png") repeat-x scroll 0 -110px #7D7D7D;
    float: none;
    margin: 0;
    padding: 0;
	font-weight: bold;
	background: url("img/gradient.png") repeat-x scroll 0 -110px #7D7D7D;
}
#nav ul a {
    border-radius: 1.6em 1.6em 1.6em 1.6em;
    color: #B4B4B4;
    display: block;   
    margin: 0;
    padding: 8px 20px;	
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);

    font-weight: normal;
    text-shadow: 0 1px 0 #FFFFFF;
}
#nav ul ul {
    left: 181px;
    top: -3px;
}
#nav ul li:first-child > a {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
#nav ul li:last-child > a {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}
#nav:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
#nav {
    display: inline-block;
}
html[xmlns] #nav {
    display: block;
}
* html #nav {
    height: 1%;
}
